
@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-striped dataTable" style="width:100% !important" id="tblData">
    <thead>
        <tr>
            <th>Logo</th>
            <th>Name</th>
            <th>CreatedDate</th><!--Created Date-->
            <th>Actions</th>
        </tr>
    </thead>

</table>

@section Scripts{
    <script src="~/js/App/company.js"></script>
}

