@model Domain.ViewModels.DynamicFormViewModel
@using Domain.ViewModels

<div class="form-group row">
    <div class="col-4">
        <label asp-for="FormField.FieldLabel"></label>
    </div>
    <div class="col-8">
        <input asp-for="FormField.FieldLabel" type="@Model.FormField.FieldType.FieldTypeName" placeholder="@Model.FormField.FieldPlaceHolder" class="form-control" />
        @{
            if (Model.FormField.IsRequired == true)
            {
                <span asp-validation-for="FormField.FieldLabel" class="text-danger"></span>
            }
        }
    </div>
</div>

